*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62.5;
}

body{
   font-size: 1.6rem;
}

textAlignLeft{
    text-align: left;
}

textAlignRight{
    text-align: right;
}

main,header{
    display: flex;
}

header{
    height: 20vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    background: #0a342f;
}


main{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: flex-start;
}

div{
    width: auto;

}


div.square{
    height: 44%;
    width: 94%;
    margin-top: 8%;
    margin-left: 3%;
    background: #262b2e;
    border: none;
}

div.verticalRectangle{
    height: 48rem;
    width: 38%;
    background: none;
    border: none;
}

div.leftRectangle{
    margin-left: 6.5%;
}

div.rightRectangle{
    margin-left: 3%;
    height: 43rem;
    margin-top: 2.5rem;
    background: #8a9423;
}

section:not(.metricsContainer){
    margin-top: 4rem;
    border: 0.3rem solid green;
}

section.metricsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7rem;
    border: 2px solid #bfbfbf;
}

div.upperRow{
    display: flex;
    height: 3.7rem;
    align-items: center;
    justify-content: center;
}

div.sectionHeader{
    background: #cb9400;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
}

.sectionHeader > p{
    text-align: center;
}

div.sectionTitle{
    width: 90%;
}

div.sectionCode{
    width: 10%;
    border-left: 2px solid #706033;
}

div.actionRow{
    background: #d9d9d9;
    border: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

div.actionTag{
    width: 20%;
}

div.actionTag > p{
    text-align: left;
}

div.actionField{
    width: 80%;
}
div.actionField > p{
    text-align: center;
}

div.chartSection{
    width: 100%;
}

#avance_b_y_g_de_apoyo_en_salud_mental{
    height: 300vh;
    width: 100%;
}


div.lowerRow1{
    height: 3.3rem;
}

div.lowerRow1:nth-of-type(n){
    border-right: 2px solid #949292;
}

div.lowerRow1 > p{
    padding-left: 1.5rem;
}

div.lowerRow2{
    height: 2.1rem;
    background: none;
    font-size: 1.2rem;
    border: none;
}

div.lowerRow2 > p{
    padding-left: 1.5rem;
}

div.lowerInfo{
    width: 25%;
}

div.equipTag{
    width: 25%;
    border-right: 2px solid #949292;
}

div.equipTag > p{
    font-weight: bold;
}

div.equipField{
    width: 75%;
}


@media (min-width: 600px) {
    
  }

@media (min-width: 800px) {
   
  }
  